<h2>
  dynamic-ngStyle works!
</h2>

<div>
  <h3>Using style</h3>
  <ul *ngFor="let item of list; let i = index">
    <li [style.color]="item.color">
      <button 
      [style.color]="item.color" 
      [style.width.px]="item.width"  
      [style.height.px]="item.height"> 
      {{i}} = {{item.text}}
      </button>
      <!-- [style.width.%] , [style.width.em] -->
    </li>
  </ul>

  <br>

  <h3>Using ngStyle</h3>
  <ul *ngFor="let item of list; let i = index">
    <li [ngStyle]="{'color': item.color}">
        <button [ngStyle]="{
          'color': item.color, 
          'width': item.width +'px',  
          'height': item.height +'px'}"> 
        {{i}} = {{item.text}}
        </button>
    </li>
  </ul>


  <button (click)="changeSize(5)">Increase height</button>
  <button (click)="changeSize(-5)">Decrease height</button>

</div>


<div>
<h2>Class</h2>

  <h3>className</h3>
  <button (click)="changeClass()"> Change button class </button>

  <button [className]="buttonRed === true ? 'button red' : 'button green' " 
  [disabled]="true" > button1 </button>
  <button [className]="buttonRed === false ? 'button red' : 'button green' "
  [disabled]="true" > button2 </button>

  <h3>ngClass</h3>
  <div [ngClass]="['text-bold', 'text-red']">array of classes</div>
  <div [ngClass]="'text-italic text-green'">string of classes</div>
  <div [ngClass]="{'text-large': true, 'text-blue': true}">object of classes</div>
</div>

